<!-- 
Designer Name: Sam Parathuvayalil Sunny
Website: Personal Online Portfolio
File Name: index.ejs
Description: Main Page for the portfolio
  -->

<%- include partials/header.ejs %>
<!-- Content -->
	<div style="height: 93%;width: 98%;left: 1%;   opacity: .6;position: relative; top: 40px;border-radius: 20px" class="panel panel-heading">
		<h1 style="font-size: 50px;color: darkslategray"><%= title %></h1>
		<div class="panel-body" style="font-size: 22px;color: black;position: relative; top: 60px;left: 50px">
		<p> By good will or good fortune you've stumbled upon the portfolio of Sam Sunny</p>
		<p>Welcome to my <%= title %> Page</p>
		<p>I'm a web developer and programmer currently enrolled in Georgian College, Barrie in the Computer Programmer Diploma.</p>
	</div></div>
	
	
	
	</body>   
<%- include partials/footer.ejs %> 
</html>
